* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', sans-serif;
}
main {
    min-height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*calculator and sides*/
.calculator {
    margin: auto;
    max-width: 55em;
    width: 100%;
    display: flex;
    padding: 2rem;
    border-radius: 20px;
    background-color: white;
    gap: 2rem;
    min-height: 22em;
}
@media screen and (max-width: 910px) {
    .calculator {
        max-width: 50em;
    }
}
@media screen and (max-width: 815px) {
    .calculator {
        flex-direction: column;
        margin-top: 1rem;
    }
}

.right, .left {
    width: 100%;
}
.right {
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.left label, .left span {
    display: block;
}
.input {
    margin-top: .35rem;
}
#bill, #num-people {
    padding: 0;
    width: auto;
    height: 100%;
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
    text-align: right;
}
@media screen and (max-width: 525px) {
    #bill, #num-people {
        max-width: 17rem;
    }
}
@media screen and (max-width: 415px) {
    #bill, #num-people {
        max-width: 12rem;
    }
}

#bill:focus, #num-people:focus {
    outline: none;
}
.left label {
    color: hsl(186, 14%, 43%);
    font-weight: bold;
}
.left span {
    padding: .5rem;
    padding-right: .35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    font-size: 1.5rem;
}
.tip-button {
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 1.1rem;
    border: none;
}
.select-tip {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}
#tip-percentages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 1.5rem;
}
@media screen and (max-width: 445px){
    #tip-percentages {
        grid-template-columns: repeat(2, 1fr);
    }
}
#tip-percentages * {
    padding: .25rem 0;
    border-radius: 5px;
    min-height: 36px;
}
#tip-percentages span {
    padding-right: .35rem;
    padding-left: .5rem;
}
#custom {
    width: 5rem;
    text-align: center;
    background-color: inherit;
    border: none;
    font-size: 1.1rem;
}
#custom:focus {
    outline: none;
}
#tip-percentages .selected {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.per {
    font-size: .8rem;
    color: hsl(184, 14%, 56%);
}
.reset {
    padding: .75rem;
    background-color: hsl(172, 67%, 45%);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 5rem;
}
.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    min-height: 4.5em;
}
#tip-amount, #total {
    font-size: 3rem;
    color: hsl(172, 67%, 45%);
    font-weight: bold;
}
@media screen and (max-width: 375px) {
    #tip-amount, #total {
        font-size: 2rem;
    }

}
@media screen and (max-width: 291px) {
    #tip-amount, #total {
        font-size: 1.5rem;
    }
    #bill, #num-people {
        max-width: 10rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }